* {
    font-family: sans-serif;
    scroll-behavior: smooth;

}

.container {
    margin-left: 1rem;
    color: #fff;
}

.Posters {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    text-align: center;
    font-size: large;
    overflow-x: scroll;
    overflow-y: hidden;
}

.Posters::-webkit-scrollbar {
    display: none;
}

.mainHeader {
    text-align: center;
    padding-left: 1.5rem;
    font-size: 2rem;
}

.miniHeader {
    padding-left: 1.5rem;
    font-size: 1.5rem;
}

.mainPosters {
    cursor: pointer;
    max-height: 15em;
    margin-right: 1em;
    transition: .25s ease-in-out;
}

.miniPosters {
    cursor: pointer;
    max-height: 10em;
    margin-right: 1em;
    transition: .25s ease-in-out;
}

.mainPosters:hover {
    transform: scale(1.05);
}

.miniPosters:hover {
    transform: scale(1.075);
}