.navbar {
    position: fixed;
    /* position: relative; */
    height: 4em;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.034);
    opacity: 10em;
    font-size: small;
}

.logo {
    width: 8em;
    height: 2em;
    position: absolute;
    left: 3rem;
    cursor: pointer;
}

.avatar {
    width: 3em;
    height: 3em;
    position: absolute;
    right: 1rem;
}

.navItems {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 15em;
}

nav ul li {
    margin-right: 2em;
    list-style-type: none;
}

nav a {
    color: rgba(255, 255, 255, 0.904);
}